@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #BE3D2A;
    --secondary-color: #E78B48;
    --background-color: #FFFFFF;
    --text-color: #333333;
    --surface-color: #102E50;
    --accent-color: #F5C45E;
    --font-family: 'Urbanist', sans-serif;
    --color-negro: #000000;
    --color-gris-claro: #CCCCCC;
    --espacio-seccion: 90px;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: -3px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: lowercase;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

#nosotros {
    background-color: var(--surface-color);
    color: var(--background-color);
}

#historia {
    background-color: var(--accent-color);
    color: var(--color-negro);
}

#oficinas {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

#main-footer {
    background-color: var(--text-color);
    color: var(--color-gris-claro);
    padding: 45px 0;
}

.padded {
    padding-top: var(--espacio-seccion);
    padding-bottom: var(--espacio-seccion);
}

.list-group-item.active {
    background-color: var(--primary-color);
    border-color: var(--color-negro);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    box-shadow: 0 -3px var(--accent-color);
}

.oficina-container {
    display: flex;
    justify-content: center;
}


.page-header {
    color: white;
    background-color: var(--surface-color);
    padding: 20px 0;
}

/*Card de tienda*/
#grid-productos {
    text-align: center;
    position: relative;
}

#grid-productos .card {
    overflow: hidden;
}

#grid-productos .card:hover {
    background-color: #96c8cc;
}

#grid-productos img:hover{
    transform: scale(1.2);
}

#grid-productos img{
    transition: ease-in-out all 0.5s;
}

.precio-anterior {
    font-size: 0.9em;
    color: var(--primary-color) !important;
}

.porcentaje-descuento {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--surface-color);
    color: var(--color-gris-claro);
    padding: 5px 10px;
}

.icono-vista-rapida {
    position: absolute;
    top: -15%;
    left: 50%;
    background-color: white;
    padding: 6px 10px;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}

.icono-vista-rapida:hover {
    background-color: black;
    color: white;
}

#grid-productos .card:hover .icono-vista-rapida {
    top: 25%;
}

.icono-Carrito, .icono-eliminar{
    cursor: pointer; 
}

.icono-Carrito:hover, .icono-eliminar:hover{
    color: var(--primary-color);
}

.caja-cantidad{
    width: 100px;
}

/*Directores*/
.icono-editar, .icono-eliminar{
    cursor: pointer;
}

.icono-editar:hover, .icono-eliminar:hover{
    color: var(--primary-color);
}


@media (min-width: 1520px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1440px;
    }
}